* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #dedede;
}

.wrapper {
  background-color: #fff;
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
  line-height: 26px;
}

aside {
  background-color: #1e2939;
  width: 370px;
  padding-bottom: 30px;
  color: white;
  /*line-height: 26px;*/
}

.my-photo {
  /*width: 370px;*/
  width: 100%;
}

.info-mobile {
  display: none;
}

.contacts,
.tech-skills,
.soft-skills,
.languages {
  margin: 0 20px;
}
.contacts__list,
.technologies__list,
.job {
  list-style: none;
}

.contacts__list li {
  margin-left: 0;
}

.wrap {
  margin-bottom: 10px;
}
.title {
  line-height: 46px;
  font-size: 16px;
  /* margin-bottom: 10px */
}

aside li {
  margin-left: 15px;
  color: #fff;
}

.tech-skills__category {
  color: #8f949c;
}

.tech-skills__name,
.soft-skills__name,
.languages__item {
  color: #fff;
}

main {
  padding: 20px 40px;
}

main li {
  margin-left: 19px;
  color: #555;
}

h1 {
  color: #8f949c;
}

h3 {
  display:inline;
}

.info-container h1 {
  font-size: 40px;
  margin: 10px 0;
}

.info-container h2 {
  font-size: 20px;
  margin: 10px 0;
}

.info-container p {
  margin-bottom: 5px;
}

.experience__item {
  margin-bottom: 10px;
}

.experience__duties {
  font-size: 14px;
  font-weight: bold;
  color: #101010;
}

.experience__details,
.summary {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #101010;
  text-align:justify;
}

.experience__divider,
.technologies,
.project__title {
  color: #101010;
  font-size: 14px;
}

.experience__proj-name {
  font-weight: bold;
}

.education__item {
  margin-bottom: 10px;
}

.education__specialty {
  color: #101010;
  font-size: 14px;
  font-weight: bold;
}

.education__period {
  color: #8f949c;
}

a {
  color: #fff;
  text-decoration: none;
  transition: all ease 0.3s;
}

a:hover {
  color: #fda367;
}

/*=========================  media-queries ============================*/

@media screen and (max-width: 991px) {
  body {
    padding: 0;
  }
  .wrapper {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .contacts,
  .tech-skills,
  .soft-skills,
  .languages {
    margin: 20px 20px;
  }
  .title {
    margin-top: 20px;
  }
  main {
    padding: 20px;
  }
}

@media screen and (max-width: 650px) {
  .wrapper {
    flex-direction: column;
  }
  aside {
    width: 100%;
    /*padding-top: 10px;
		padding-bottom: 10px;*/
    padding: 15px;
  }
  .my-photo {
    /*width: 270px;*/
    width: 40%;
    float: right;
    margin: 10px;
  }
  .info-mobile {
    padding: 10px 20px;
    display: block;
  }
  .info-mobile h1 {
    font-size: 14px;
    line-height: 48px;
  }
  .info-container h1,
  .info-container h2 {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .my-photo {
    display: none;
  }
}
